.blog{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
    border: 2px solid blue;
    background-color:lightsteelblue;

}
.header{
    font: 30px Arial, sans-serif;
    color:crimson;
    background-color: lightskyblue;
    grid-area:hd;
    text-align: center;
    
}
.sidebar{
    font: 20px Arial, sans-serif;
    color:rgb(231, 131, 17);
    grid-area:sd;
}
.content{
    font: 20px Arial, sans-serif;
    color:rgb(231, 131, 17);
    grid-area:main;
}
.footer{
    font:15px Times, sans-serif;
    color:black;
    text-align: center;
    grid-area:ft;
}
#one{ 
    padding-bottom: 10px;
}
#two{
    padding-top: 50px;;
}