.blog{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    /*grid-template-rows: 100px,200px,100px;*/
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    background-color:white;         
}
.box{
    border:solid yellow;
    
}
.header{
    font: 30px Arial, sans-serif;
    color:crimson;
    grid-area:hd;
    text-align: center;
    background-color: orchid;
}
.sidebar{
    font: 12px, sans-serif;
    color:olivedrab;
    grid-area:sd;
    background-color: palegreen;
    text-align: center;
    justify-items: center;
       
}
.content{
    font: 20px Arial, sans-serif;
    color:rgb(231, 131, 17);
    grid-area:main;
    background-color: purple;
    
}
.footer{
    font:15px Times, sans-serif;
    color:black;
    grid-area:ft;
    padding-top: 20px;
    background-color: seagreen;
}