@import "header.css";
@import "sidebar.css";
@import "content.css";
@import "footer.css";

.blog{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    background-color:white;         
}
.box{
    display:flex;
    border:solid yellow;
    flex-direction: column;
    justify-content: space-around;
    margin: 0.1em;
    padding:5px;
    border-radius: 25px;       
}
/*.btn{
    border:none;
    background-color: inherit;
    padding:14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
.btn:hover{
    background-color: lightgray;
}*/