.content{
    display:flex;
    flex-direction:row;
    align-items:center;
    font:20px Tahoma, sans-serif;
    color:rgb(231, 131, 17);
    grid-area:main;
    background-color:white;
    text-align:justify;
    padding:5px;
}

h2{
    margin:0;
    text-decoration:underline;
}

blockquote{
    color:gray;
}

.card{
    max-width:100%;
    height:auto;
    border:2px solid orange;
    padding:5px;
    display:flex;
    flex-direction:column;
    justify-items:space-around;
}

figcaption{
    text-align: center;
    padding: 2px;
    color:rgb(194, 97, 13);
}

.responsive{
    max-width:100%;
    height:auto;
    display:block;
}

.button{
    background-color:gray;
    padding:10px;
    font-size:25px;
    color:white;
    cursor:pointer;
    text-decoration:none;
    text-align:center;
    width:inherit;
    border-radius:5px;
}

.card li{
    list-style-type:none;
    margin:5px;
}

.button:hover{
    background-color: lightgray;
}

.button1{
    float:left;
}

.button2{
    float:right;
    margin-right: 30px;
}
