.content{
    font: 20px Arial, sans-serif;
    color:rgb(231, 131, 17);
    grid-area:main;
    background-color: purple;
    align-items:flex-start;
    text-align:left;
    justify-items: start;
    
}