.sidebar{
    font-size: 20px;
    grid-area:sd;       
}
.sidebar ul{
    list-style-type:none;
    margin:0;
    padding:0;
    background-color: rgb(163, 169, 174);
    border-radius: 5px;
}
.sidebar li{
    float:left;
}
.sidebar a{
    display:block;
    text-decoration:none;
    text-align:center;
    padding: 5px;
    color:whitesmoke;
}
    
.sidebar a:hover{
    background-color:darkslategrey;
}