.sidebar{
    font-size: 20px;
    grid-area:sd;       
}
.sidebar ul{
    list-style-type:none;
    margin:0;
    padding:0;
    background-color: slategrey;
    border-radius: 5px;
}
.sidebar li{
    float:left;
}
.sidebar li a{
    display:block;
    text-decoration:none;
    text-align:center;
    padding: 5px;
    color:whitesmoke;
}
    
.sidebar li a:hover{
    background-color:darkslategrey;
}