.sidebar{
    font-size: 20px;
    color:white;
    grid-area:sd;
    background-color:white;    
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    background-color: slategrey;
    border-radius: 5px;
}
li{
    float:left;
}
li a{
    display:block;
    text-decoration:none;
    text-align:center;
    padding: 5px;

}
    
li a:hover{
    background-color: snow;
}